body {
  background: linear-gradient(to bottom, #ffcc00 0%, #ffcc00 100%);
}

.header_heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.main {
  position: relative;
}

.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.display-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  padding: 25px;
  margin: 0 auto;
  max-width: 400px;
}

.values {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
